@tailwind base;
@tailwind components;
@tailwind utilities;
/* For WebKit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 6px; /* Sleek and thin */
}

/* Scrollbar Track (Background) */
::-webkit-scrollbar-track {
  background: #000000; /* Pure black */
  border-radius: 10px;
}

/* Scrollbar Thumb (Draggable Part) */
::-webkit-scrollbar-thumb {
  background: rgb(74 222 128); /* Light Green */
  border-radius: 10px;
}

/* On Hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(52 211 153); /* Slightly darker green on hover */
}
